<!-- This passing the main layout of the pages from the layout.html file -->
{% extends "layout.html" %}

<!-- This indicates the Block set aside in the layout html file that we are changing -->
<!-- Most of this html is from bootstrap -->
{% block content %}
  <main>
    <div class="container">
      <p></p>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background-color:rgb(142, 217, 240)">
      <div class="container">
        <h1 class="display-4">Welcome to the site</h1>
        <p class="lead">place holder for the site discription</p>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background-color:rgb(142, 217, 240)">
      <div class="container">
        <h1 class="display-4">Store</h1>
        <p class="lead">place holder for disclaimer about the product sales.</p>
      </div>
    </div>
    
    <!-- Container for the product images and product names -->
    <div class=container>
      <div class="row">
        {% for image_name in image_names %}
        {% if image_name == 'sorghum-grain.jpg' %}
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/product_grain">
              <img src="{{url_for('send_image', filename=image_name)}}" alt="Lights" style="width:100%" height="250" width="300">
            </a> 
            <div class="caption">
              <p>Sorghum grain.</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-md-4">
          <div class="thumbnail">
              <a href="/product_flour">
                <img src="{{url_for('send_image', filename=image_name)}}" alt="Lights" style="width:100%" height="250" width="300">    
              </a> 
              <div class="caption">
                <p>Sorghum flour.</p>
              </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    
    <!-- About us container-->
    <div class="jumbotron jumbotron-fluid" style="background-color:rgb(142, 217, 240)">
      <div class="container">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Place holder for the company descriptions/message.</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Reqest newsletter
        </button>
      </div>
    </div>
    
    <!-- Modal for requesting email -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Newsletter Request form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">email</span>
              </div>
              <input type="text" class="form-control" placeholder="Enter Email Address" aria-label="Enter Email Address" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
