<!-- This passing the main layout of the pages from the layout.html file -->
{% extends "layout.html" %}

<!-- This indicates the Block set aside in the layout html file that we are changing -->
{% block content %}

    <!-- This is Jinja code for reference-->
    <!-- for loop that scans through the product dictionary from the python program, displaying the data as read -->
    <!-- does not currently work correctly -->
    {% for product in products %}
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="{{ products.image }}" alt="Lights" style="width:100%">
            <div class="caption">
              <p>{{ product.description }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}    

    <!-- for loop that scans through the reviews dictionary from the python program, displaying the data as read -->
    {% for review in reviews %}

        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a>{{ review.reviewer }}</a>
                <small class="text-muted">{{ review.dataposted }}</small>
              </div>
                <h2>{{ review.title }}</a></h2>
                <p class="article-content">{{ review.content }}</p>
            </div>
          </article>

    {% endfor %}
{% endblock content %}